:root {
    --lightgray: #444;
    --light: #333;
    --dark: #fff;

    --gray: #f0f0f0;

    --secondary: #7aa1dd;
    --tertiary: #a1e89f;

    --text-color: #fff;
}

text {
    fill: white;
    color: white;
}

*[aria-label] {
    position: relative;
}

*[aria-label]:hover:before {
    background: #333;
    border-radius: 4px;
    color: #ccc;
    content: attr(aria-label);
    padding: 2px 4px;
    position: absolute;
    white-space: nowrap;
    top: calc(100% + 4px);
    z-index: 1000000000;
}

*[aria-label]:hover:after {
    background: #333;
    content: '';
    width: 6px;
    height: 6px;
    position: absolute;
    white-space: nowrap;
    top: calc(100% + 1px);
    left: 8px;
    transform: rotate(45deg);
}

.group-label {
    text-transform: capitalize;
    /*font-variant: small-caps;*/
}

.graph {
    margin: 0 1em;

    & > h3 {
        font-size: 1rem;
        margin: 0;
    }

    & > .graph-outer {
        border-radius: 5px;
        border: 1px solid var(--lightgray);
        box-sizing: border-box;
        height: 250px;
        width: 250px;
        margin: 0.5em 0;
        position: relative;
        overflow: hidden;

        & > .graph-action-container {
            position: absolute;
            top: 0;
            right: 0;

            display: flex;
            flex-direction: row;
            gap: 0.2rem;
            margin: 0.3rem;

            & > .graph-action {
                color: var(--dark);
                opacity: 0.5;
                width: 20px;
                height: 20px;
                padding: 0.2rem;
                border-radius: 4px;
                background-color: transparent;
                transition: background-color 0.5s ease;
                cursor: pointer;

                &:hover {
                    background-color: var(--lightgray);
                }
            }
        }
    }

    & > #fullscreen-graph-outer {
        position: fixed;
        z-index: 9999;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100%;
        backdrop-filter: blur(4px);
        display: none;
        overflow: hidden;

        &.active {
            display: inline-block;
        }

        & > #fullscreen-graph-container {
            border: 1px solid var(--lightgray);
            background-color: var(--light);
            border-radius: 5px;
            box-sizing: border-box;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 60vh;
            width: 50vw;
        }
    }
}

@media (max-width: 1152px) {
    .main-frame > div {
        display: flex;
        flex-direction: column-reverse;
    }
}
